<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Comunicação Virloc WEB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>
        <div class="header"></div>
            <div class="Titulo">
                <h2>Comunicação Virloc WEB</h2>
            </div>
                <button class="btn-conectar" onclick="conectar()">Conectar</button>
                <button class="btn-desconectar" onclick="desconectar()">Desconectar</button>
                <button class="btn-logs" onclick="baixar_logs()">Baixar Logs</button>
                <button class="btn-limpar" onclick="limpar_terminal()">Limpar Terminal</button>
        </div>

        <div id="terminal"></div>

        <div id="digitar">
            <span style="color: white; font-family: 'Courier New', Courier, monospace; margin-right: 10px; font-size: 16px; font-weight: bold;">></span>
            <input type="text" id="inputComando" placeholder="Digite o comando (ex: QID)">
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>